html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #262236;
  }

  button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
   display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
  }

.wrap {
  margin: 0;
  padding: 0;
}

.header {
  width: calc(100vw - 136px);
  height: 54px;
  z-index: 2;
  padding: 0 68px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  background-color: #fff;
}

#logo {
  grid-row: 1/1;
  grid-column: 1/2;
  margin-top: 18px;
  margin-left: 80px;
}

.header-buttons {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

.btn {
  margin: 0 16px;
  padding: 8px 12px;
  border: none;

  text-align: center;
  text-decoration: none;

  font-size: 14px;

  display: inline-block;
  transition: 0.1s;
}

.btn.classic {
  background-color: #fff;
}

.btn.classic:hover {
  color: #29959B;
}

.btn.cta {
  color: #fff;
}

.btn.cta.orange {
  background-color: #FF9D0A;
}

.btn.cta.orange:hover {
  background-color: #EA8D03;
}

.btn.cta.blue {
  background-color: #29959B;
}

.btn.cta.blue:hover {
  background-color: #FF9D0A;
}

.content {
  padding-top: 54px;
}

.map-div {
  height: calc(100vh - 54px);
  margin: 0;
  padding: 0 140px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6fr 4fr;
}

.main-title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 28%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}

.main-title > div {
  display: flex;
  justify-content: flex-start;
}

.main-title > div > h1 {
  width: 370px;
  display: inline-block;
}

.main-title > div > span {
  display: inline-block;
  margin-top: -20px;
  margin-left: -34px;
}

/* Media queries to adapt main title */
@media screen and (max-width: 1200px) {
  .main-title > div > h1 {
    width: 305px;
  }
  .main-title > div > span {
    margin-left: 6px;
  }
}

.main-title > a > button {
  margin: 0;
  margin-top: 40px;
  padding: 12px 20px;
}

.main-map-div {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-map-div > img {
  max-height: calc(80%);
}

.presentation-div {
  min-height: 100vh;
  text-align: center;
  padding: 46px 80px;
  padding-top: 80px;
  background-color: #00787B;
}

h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
}

.presentation-div > h2 {
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.presentation-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
}

.presentation-text {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
  align-self: center;
}

.presentation-grid > div > h3 {
  text-align: left;
  color: #29959B;
}

.presentation-grid > div > p {
  padding-top: 8px;
  padding-right: 80px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}

.presentation-images {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.presentation-images > div > img {
  max-width: 100%;
}

.img-ancien {
  grid-column: 1/6;
  grid-row: 1/8;
}

.img-mauguio {
  grid-column: 7/12;
  grid-row: 2/9;
}

.img-biguglia {
  grid-column: 4/9;
  grid-row: 6/13;
}

.usertype-div {
  min-height: 100vh;
  text-align: center;
  padding: 32px 80px;
  padding-top: 80px;
  background-color: #fff;
}

.usertype-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.membres {
  padding: 0 30px;
  grid-column: 1/2;
}

.curieux {
  padding: 0 30px;
  grid-column: 2/3;
}

.modele {
  padding: 0 30px;
  grid-column: 3/4;
}

.picto {
  display: flex;
  justify-content: center;
}

.picto > img {
  max-width: 200px;
}

h4 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.usertype-grid > div > p {
  font-size: 16px;
  line-height: 30px;
}

hr {
  width: 80vw;
  margin-top: -40px;
  text-align: center;
  color: #EEEEF1;
}

.partenaires-div {
  text-align: center;
  padding: 46px 80px;
  background-color: #fff;
  padding-bottom: 100px;
}

.partenaires-div > h2 {
  color: #262236;
  margin-bottom: 80px;
}

.logos-partenaires {
  margin: auto;
  margin-top: 40px;
  width: 68vw;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a {
  cursor: pointer;
}

.logo > a > img {
  padding: 0 8px;
  max-width: 80%;
  max-height: 80px;
  filter: grayscale(100%);
}

.logo > a > img:hover {
  filter: grayscale(0%);
}

#agroparistech {
  grid-column: 1/2;
  grid-row: 1/2;
}

#inrae {
  grid-column: 2/3;
  grid-row: 1/2;
}

#unimes {
  grid-column: 3/4;
  grid-row: 1/2;
}

#symbo {
  grid-column: 1/2;
  grid-row: 2/3;
}

#unicorsica {
  grid-column: 3/4;
  grid-row: 2/3;
}

#cnrs {
  grid-column: 2/3;
  grid-row: 2/3;
}

#uniavignon {
  grid-column: 4/5;
  grid-row: 1/2;
}

.footer {
  width: 100%;
  height: 260px;
  background-color: #262236;
  display: grid;
  grid-template-columns: 8fr 4fr 4fr;
  grid-template-rows: 1fr;
}

h5 {
  margin: 0;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.code-source {
  padding: 20px 20px 20px 80px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.code-source > span {
  position: relative;
  top: -12px;
  left: 12px;
}

.code-source > span > a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.infos-projet {
  padding: 20px 20px 20px 0;
  grid-column: 2/3;
  grid-row: 1/2;
}

.infos-projet > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.infos-projet > ul > li {
  padding: 4px 0;
}

.infos-projet > ul > li > a {
  outline: none;
}

.infos-projet > ul > li > a:link {
  color: #FF9D0A;
}

.infos-projet > ul > li > a:visited {
  color: #FF9D0A;
}

.contact {
  padding: 20px 20px 20px 0;
  grid-column: 3/4;
  grid-row: 1/2;
}

.contact > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact > ul > li {
  font-size: 12px;
  padding: 4px 0;
  color: #fff;
}

/* Header map styling */
#map {
  max-width: 100%;
  max-height: 100%;
}
#map path {
  fill:#86AAE0;
  stroke:#FFFFFF;
  stroke-width:0.6;
  transition: fill 0.2s, stroke 0.3s;
}
#map .separator {
  stroke: #ccc;
  fill: none;
  stroke-width:1.5;
}
